---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../../public/images/photo-2-1200w.jpg";
import cabImage from "../../public/images/cabinet-sceaux.jpeg";
import contactImage from "../../public/images/contact.svg";
---
<style>
  .dispo {
    @apply bg-lime-600 text-white;
  }
  .occupe {
    @apply bg-red-100 font-bold text-red-500; 
  }
</style>

<Layout title="Location espace consultation Sceaux.">
  <main class="pt-10">
    <section
      class="container px-5 md:px-0 mx-auto mb-10 grid gap-5 md:mb-12 md:grid-cols-2 md:gap-28"
    >
      <div>
        <h1 class="text-lime-700 mb-5 text-3xl font-semibold">
          Location Cabinet Pluridisciplinaire à Sceaux
        </h1>
        <p class="mb-5">
          Découvrez notre cabinet pluridisciplinaire à Sceaux, l&apos;endroit
          idéal pour établir votre pratique. Notre espace moderne et agréable,
          d'une surface de 35m², est équipé pour les professionnels du soin et
          du bien-être, psychologues, thérapeutes, et pour toute profession
          indépendante.
        </p>
        <p class="pb-5">
          Avec un emplacement central dans la rue piétonne de la ville de
          Sceaux, proche des commerces et de toutes commodités, vos clients
          auront un accès facile à votre cabinet. Nous nous engageons à créer un
          environnement accueillant et fonctionnel pour votre travail.
        </p>
        <p>
          Pour les professionnels cherchant un cabinet pluridisciplinaire à
          Sceaux, notre établissement offre un espace équipé, chaleureux et
          calme dans un emplacement central de la ville. Adapté aux
          psychologues, thérapeutes et professionnels du bien-être, le cabinet
          vise à fournir un espace de travail fonctionnel et accueillant.
          L&apos;accès aux transports en commun est aisé. Pour plus
          d&apos;informations, n&apos;hésitez pas à{" "}
          <a
            href="#contact"
            class="underline"
          >
            nous contacter
          </a>.
        </p>
      </div>
      <Image
        src={myImage}
		width="500"
		height="333"
        alt="cabinet de consultation"
      />
    </section>

    <section
      id="avantages"
      class="c-avantages mb-10 md:mb-12 bg-gray-100 py-10"
    >
      <div class="container px-5 md:px-0 mx-auto">
        <h2 class="text-lime-700 mb-5 text-3xl font-semibold">
          Les avantages du cabinet
        </h2>
        <div class="grid gap-8 md:grid-cols-2 mb-10">
          <div>
            <h3 class="mb-3 text-2xl">Équipements de Notre Cabinet</h3>
            <p>
              Notre cabinet pluridisciplinaire à Sceaux est équipé pour répondre
              à vos besoins professionnels. Vous trouverez des espaces de
              consultation confortables, une cuisine bien équipée pour vos
              pauses, ainsi que des toilettes pour votre confort.
            </p>
          </div>
          <div>
            <h3 class="mb-3 text-2xl">Espace de Consultation Polyvalent</h3>
            <p>
              Notre espace de consultation est conçu pour accueillir des
              professionnels de toutes disciplines. Que vous soyez psychologue,
              thérapeute, nutritionniste ou expert en bien-être, nos bureaux
              sont adaptés à votre pratique indépendante.
            </p>
          </div>
          <div>
            <h3 class="mb-3 text-2xl">Situation Idéale à Sceaux</h3>
            <p>
              Notre cabinet est stratégiquement situé au cœur de Sceaux dans la
              rue piétonne, offrant un accès facile à vos patients. Vous
              bénéficierez de la proximité des transports en commun, de
              commerces locaux, et d&apos;un environnement paisible propice à la
              consultation. La localisation idéale pour votre pratique.
            </p>
          </div>
          <div>
            <h3 class="mb-3 text-2xl">Professions Adaptées au Cabinet</h3>
            <p>
              Les professionnels de la santé, psychologues, thérapeutes,
              nutritionnistes, coachs, et bien d&apos;autres peuvent exercer
              dans notre cabinet pluridisciplinaire. Nous favorisons la
              diversité des pratiques pour offrir à nos locataires une
              communauté riche en connaissances et en opportunités de
              collaboration.
            </p>
          </div>
        </div>
        <Image
          src={cabImage}
		  width="1000"
		  height="500"
          alt="espace de consultation"
          class="mx-auto"
        />
      </div>
    </section>

    <section class="container px-5 md:px-0 mx-auto mb-10 md:mb-12">
      <h2 class="text-lime-700 mb-5 text-3xl font-semibold">
        Disponibilités <span class="text-lg">(novembre 2024)</span>
      </h2>

      <div class="flex items-center gap-5 mb-8">
        <span class="w-10 h-10 bg-red-100 font-bold text-red-500 flex items-center justify-center shadow-md">X</span><span>Occupé</span>
        <span class="w-10 h-10 bg-lime-600 text-white flex items-center justify-center shadow-md">&#10004;</span><span>Disponible</span>
      </div>

      <table class="table-fixed border-separate border-spacing-2">
        <thead>
          <tr>
            <th></th>
            <th class="font-medium">Lun</th>
            <th class="font-medium">Mar</th>
            <th class="font-medium">Mer</th>
            <th class="font-medium">Jeudi</th>
            <th class="font-medium">Vend</th>
            <th class="font-medium">Sam</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>Matin</td>
            <td class="dispo">&#10004;</td>
            <td class="dispo">&#10004;</td>
            <td class="dispo">&#10004;</td>
            <td class="dispo">&#10004;</td>
            <td class="occupe">X</td>
            <td class="dispo">&#10004;</td>
          </tr>
          <tr class="text-center">
            <td>Après-midi</td>
            <td class="occupe">X</td>
            <td class="dispo">&#10004;</td>
            <td class="dispo">&#10004;</td>
            <td class="dispo">&#10004;</td>
            <td class="occupe">X</td>
            <td class="occupe">X</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section
      id="tarifs"
      class="mb-10 md:mb-12 bg-gray-100"
    >
      <div class="container px-5 md:px-0 mx-auto py-12">
        <h2 class="text-lime-700 mb-5 font-semibold text-3xl">Tarifs</h2>
        <p class="mb-3">
          Tarif à la Demi-journée : <span class="font-semibold">40</span> € pour
          une demi-journée de 6 heures, incluant les charges, soit{" "}
          <span class="font-semibold">175</span> € par mois, toutes charges comprises
          pour une demi-journée de 6h par semaine.
        </p>
        <p class="mb-3">
          Les consultations sont disponibles en matinée jusqu&apos;à 13h45,
          l&apos;après-midi à partir de 14h00.
        </p>
        <p>
          Profitez de nos tarifs compétitifs pour louer un espace dans notre
          cabinet pluridisciplinaire à Sceaux et assurez-vous de disposer
          d&apos;un lieu de travail fonctionnel et abordable pour développer
          votre activité. Pour plus d&apos;informations ou pour réserver un
          espace, contactez-nous dès aujourd&apos;hui.
        </p>
      </div>
    </section>

    <section
      id="contact"
      class="container px-5 md:px-0 mx-auto"
    >
      <h2 class="text-lime-700 mb-5 text-3xl font-semibold">Contact</h2>
      <p class="mb-5">
        Pour toute information, nous vous invitons à nous contacter :
      </p>
      <Image
        src={contactImage}
        alt="email adress"
        width="278"
        height="86"
      />
    </section>
  </main>
</Layout>
